<!DOCTYPE html>
<html lang="en">

{% load draw_menu_tag %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ pagename }} - TestCase</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
</head>
<body>
<header class="nav">
    <h1 class="text">Тестовое задание:</h1>
</header>
<div class="treeHTML">Древовидное меню
    {% draw_menu '1' %}
</div>
<div class="treeHTML">Древовидное меню
    {% draw_menu '4' %}
</div>
<div class="body">

</div>
{% block content %}{% endblock %}
<div id="sd" value="{{ request.path }}"></div>

<script>
    function open_div(elem) {
        for (let i = 0; i < elem.children.length; i++) {
            if (elem.children[i].tagName.toLowerCase() === 'summary') {
                continue;
            }
            if (elem.children[i].tagName.toLowerCase() === 'details') {
                open_div(elem.children[i]);
            }
            try {
                if (elem.children[i].children[0].tagName.toLowerCase() === 'details') {
                    let res = open_div(elem.children[i].children[0])
                    if (res) {
                        elem.open = true;
                        return true;
                    }
                }
            } catch (error) {
            }
            try {
                if (elem.children[i].href.split("/").slice(3).join("/") === url) {
                    elem.open = true;
                    return true;
                }

            } catch (error) {
            }
            try {
                if (elem.children[i].children[0].href.split("/").slice(3).join("/") === url) {
                    elem.open = true;
                    return true;
                }
            } catch (error) {
            }
        }
    }


    let url = document.querySelector("#sd").getAttribute('value').slice(1);
    let trees = document.getElementsByClassName("treeHTML");
    for (let p = 0; p < trees.length; p++) {
        let tree = trees[p];
        let children = tree.children
        for (let i = 0; i < children.length; i++) {
            open_div(children[i]);
        }
    }
    let children = tree.children
    for (let i = 0; i < children.length; i++) {
        open_div(children[i]);
    }
</script>
</body>
</html>